body {
    font-family: $mainFont;
    color: $mainColor;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
}

.center {
    width: $siteWidthMax;
    margin: 0 auto;
    box-sizing: border-box;
}

.text__center {
    text-align: center;
}
