.operation {
    background-color: $backColor;
    padding-top: 103px;
    padding-bottom: 104px;
    color: $backColorInverse;
    &__container {
        display: flex;
        gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__icon {
        margin-bottom: 28px;
        height: 40px;
    }

    &__header {
        font-size: 19.96px;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 13.972px;
        line-height: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .operation {
        padding-top: 48px;
        padding-bottom: 64px;
        &__container {
            width: 360px;
            flex-direction: column;
            gap: 48px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .operation {
        padding-bottom: 81px;
        &__container {
            width: 348px;
            gap: 47px;
        }
    }
}
