$mainColor: #5d5d5d;

$accentColor: #f16d7f;
$accentColorTint: #f1e4e6;

$backColor: #222;
$backColorInverse: #fbfbfb;

$burgerMenuBgColor: white;
$burgerMenuLineColor: #6f6e6e;
$burgerMenuHeaderColor: black;
$cartCountColor: white;
$whiteOnBlackColor: white;

$h2Color: #222;
$subHeadColor: #9f9f9f;
$cardBgColor: #f8f8f8;
$cardHeaderColor: black;
$cardTextColor: #5d5d5d;
$formBgColor: #e1e1e1;

$mainFont: "Lato", sans-serif;
$mainFontSize: 14px;
$mainFontWeight: 300;

$siteWidthMax: 1140px;
